################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CodeTune.Buddy/.vs/
/src/CodeTune.Buddy/CodeTune.Buddy/bin/
/src/CodeTune.Buddy/CodeTune.Buddy/obj/
